logs/*
target
target/*
*.DS_Store
*.releaseBackup
release.properties
*.iml
.idea
.idea/*

.cache
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.cache
.cache